<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <!--<add name="Tactica_DB_CS" 
         connectionString="Server=localhost;Uid=sa;Pwd=sasa;Database=pruebademo;MultipleActiveResultSets=True;Timeout=120" 
         providerName="System.Data.SqlClient" />-->
  <!--Mi conexion local-->
<add name="Tactica_DB_CS" 
         connectionString="Server=DESKTOP-TAO190S\SQLEXPRESS;Database=pruebademo;MultipleActiveResultSets=True;Timeout=120;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>